#sideIm {
  float: right;
  width: 20%;
}
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  padding: 10px;
  grid-auto-flow: column;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#n4 {
  width: 15%;
  display: block;
}
