@main-color: rgb(105, 198, 226);
@border-color: rgb(38, 30, 75);
@second-color: rgb(241, 239, 248);
@base-size: 13px;

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: @base-size;
}

body {
    background-image: url("../images/bl.png");
    background-color: @main-color;
    //background-size: 100%;
}

//header

header #head {
    overflow: hidden;
    padding-bottom: 0%;
}

header h1 {
    width: 65%;
    display: inline-block;
    padding: 0px;
}

header #sideIm {
    float: right;
    width: 20%;
    max-width: 120px;
    //opacity: 100%;
    opacity: 0.8;
}

nav div a {
    color: @second-color;
    font-size: 1.2em;
}

header nav div {
    #search {
        font-size: 1.2em;
        background-color: @second-color;
    }

    #inp {
        font-size: 1.2em;
    }
}

//card

.myCard #weather {
    position: relative;
    //position: absolute;
    padding: 0px;
    max-width: 560px;

    #n1 {
        font-size: 1.2em;

        span {
            text-decoration: underline;
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}

img {
    //width: 25%;
    display: block;
    float: left;
}

.card-subtitle {
    padding-top: 10%;
}

.card-body {
    width: 70%;
    display: inline-block;
    padding: 2%;
    padding-top: 5%;
    overflow: hidden;
}

//grid
@media (max-width: 420px) {

    /* smartphone */
    .grid-container {
        grid-template-columns: auto;
    }
}

@media (min-width: 420px) and (max-width: 760px) {

    /* tablet */
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 760px) {

    /* desktop */
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }
}

.grid-container {
    display: grid;
    padding: 5px;
    width: 100%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid @border-color;
    font-size: 30px;
    text-align: center;

    h5 {
        font-size: 1.025em;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: @border-color;
    }
}


//grid content
.cur {
    width: 68%;
    display: inline-block;
    padding: 0%;
    overflow: hidden;
}

.inIM {
    padding: 0px;
}

.hour {
    margin: 0px;
}

//graph
#chartContainer {

    height: 300px;
    width: 100%;
    visibility: hidden;
    //margin-left: 15%
}

#myAbout {
    visibility: hidden;
    margin: 15%;
    margin-top: 0%;
}

section {
    visibility: hidden;
}